:root {
    --Color-primary: #27AE60;
    --Color-primery-50: #93D7AF;
    --Color-secondary: #EB5757;

    --Gray-100: #333333;
    --Gray-50: #828282;
    --Gray-20: #E0E0E0;
    --Gray-0: #F5F5F5;

}